/* Estilos para o container do rodapé */
.footer-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* Links dentro do rodapé */
.footer-links a {
    color: #fff !important;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline !important;
}

/* Estilo dos ícones de redes sociais */
.footer-social {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

/* Texto e outros elementos do rodapé */
.footer-text, .footer-copyright {
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
}

/* Espaçamento adicional */
.footer-spacing {
    height: 40px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .footer-links a {
        margin: 5px 0;
    }
}

/* Estilos para computadores */
@media (min-width: 769px) {
    .footer-links {
        display: flex;
        justify-content: center;
    }
    .footer-links a {
        margin: 0 15px;
    }
}
