h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px; /* Ajuste conforme necessário */
    margin-bottom: 60px; /* Ajuste conforme necessário */
}


.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.table-wrapper {
    min-width: 250px;
}

h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}

thead th {
    background-color: #333;
    color: white;
    padding: 8px;
}

tbody td {
    padding: 6px;
    border: 1px solid #ddd;
}




.btn-compartilhar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

        
        .btn-compartilhar img {
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }
        
        .btn-compartilhar:hover {
            background-color: #f0f0f0;
            border-color: #999;
        }

